{% extends 'layouts/base-fullscreen.html' %}
{% block title %}Change your password{% endblock title %}
{% block content %}
<div class="row justify-content-center form-bg-image">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class=" shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
            <div class="text-center text-md-center mb-4 mt-md-0">
                <h1 class="mb-0 h3">
                    App - Change Password
                </h1>
                <br />
                <div class="container toast-body rounded bg-info">
                    {% if form.errors %}
                        <p>{{ form.old_password.errors | safe }}</p>
                        <p>{{ form.new_password2.errors | safe }}</p>
                    {% else %}
                        Add your credentials
                    {% endif %}                                     
                </div> 
            </div>
            <form method="post" action="{% url 'password_change' %}" class="mt-4">
                
                {% csrf_token %}


                <div class="form-group mb-4">
                    <label for="old_password">Old Password</label>
                    <input class="form-control" {{ form.old_password }}
                </div>
                <div class="form-group">
                    <div class="form-group mb-4">
                        <label for="new_password1">New Password</label>
                        <input class="form-control" {{ form.new_password1 }}
                    </div>
                    <div class="form-group mb-4">
                        <label for="new_password2">New Password again</label>
                        <input class="form-control" {{ form.new_password2 }}
                    </input>  
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" name="Change password" class="btn btn-gray-800 animate-hover">Submit</button>
                </div>
            </form>
            <br />

            <div class="d-flex justify-content-center align-items-center mt-4">
                <span class="fw-normal text">
                    <a href="{% url 'password_reset' %}" class="fw-bold link-indigo">Forgot Password?</a>
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}