{% extends 'layouts/base-fullscreen.html' %}
{% block title %}Reset your password{% endblock title %}
{% block content %}
<div class="container my-5" align="center" position="center">
    <h2 class="h2">Forgotten your Password?</h2>
    <p>Enter your email address to obtain a new password</p>
    <form action="" method="post" class="form-control" align="center">
        {% csrf_token %}
        <input class="form-control" {{ form.email }}
        <button type="submit" class="btn my-3 btn-gray-800 text-info animate-up-4 border-info" value="send e-mail">Submit</button>
    </form>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}