{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign Up {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
    
</style>
    <main>
        <section class="justify-content-center form-bg-image mt-5 mt-lg-0 bg-soft d-flex align-items-center" data-background-lg="/static/assets/img/illustrations/signin.svg">
            <div class="container justify-content-center overflow-auto">
                <a>
                    <img src="/static/assets/img/django-logo.svg" class="rounded mx-auto d-block small" width="40px", height="40px" alt="Clarion">
                </a>
                <div class="row justify-content-center form-bg-image">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-dark shadow border-0 rounded border-light p-4 p-lg-5 w-100  fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    App - Sign Up
                                </h1>
                                <br />
                                <div class="container toast-body rounded bg-info">
                                    {% if form.errors %}
                                        <p>{{ form.username.errors | safe }}</p>
                                        <p>{{ form.password2.errors | safe }}</p>
                                        <p>{{ form.email.errors | safe }}</p>
                                        <p>{{ form.referral_code.errors | safe }}</p>
                                    {% else %}
                                        Add your credentials
                                    {% endif %}                                     
                                </div>  
                            </div>
                            <form method="post" action="" class="mt-4">
                                
                                {% csrf_token %}
                                <div class="form-group mb-4">
                                    <label for="username">username</label>
                                        {{ form.username }}
                                </div>

                                <div class="form-group mb-4">
                                    <label for="first_name">First Name</label>
                                        {{ form.first_name }}
                                </div>

                                <div class="form-group mb-4">
                                    <label for="last_name">Last Name</label>
                                        {{ form.last_name }}
                                </div>

                                <div class="form-group mb-4">
                                    <label for="email">Your Email</label>
                                        {{ form.email }}
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">Your Password</label>
                                            {{ form.password1 }}
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="password">Password Confirmation</label>
                                            {{ form.password2 }}
                                    </div>

                                    <div class="form-group mb-4">
                                        <label for="referral_code">Referral Code(if any)</label>
                                        {{ form.referral_code }}  
                                    </div>

                                    <div class="mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="remember" required>
                                            <label class="form-check-label fw-normal mb-0" for="remember">
                                                I agree to the <a href="#" class="fw-bold link-indigo text-decoration-underline">terms and conditions</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="d-grid">
                                    <button type="submit" name="register" class="btn btn-gray-800">Sign Up</button>
                                </div>
                            </form>
                            <br>

                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    Already have an account? 
                                    <a href="{% url 'login' %}" class="fw-bold link-indigo text-decoration-underline">Sign In</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
